.main
{
   display: block;
    margin: auto;
    padding-top: 15em;
}
.feature1
{
  position: relative;
  left: 30em;
  bottom: 22em;
}
.feature2{
  position: absolute;
  left: 35em;
  bottom: 30.5em;

}
