/*this class contain the Octopus properties*/
.main
{
   display: block;
    margin: auto;
    padding-top: 15em;
}
/*this class contain the hat properties*/
.feature1
{
  position: relative;
  left: 32em;
  bottom: 22em;
}
/*this class contain the glasses properties*/
.feature2
{
  position: absolute;
  left: 36em;
  bottom: 16.5em;

}
